<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_background_State0 copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>background_background_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_B_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1548},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_B_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,622},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_B_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1066},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_B_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1624},{404,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,190}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_G_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1548},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_G_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,614},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_G_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,660},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_G_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1624},{404,186}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,65},{404,186}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_O_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1602},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_O_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,596},{52,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_O_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,644},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_O_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1548},{404,182}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,65},{404,182}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_P_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1548},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_P_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,588},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_P_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,644},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_P_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1624},{404,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,190}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_R_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1548},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_R_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,358},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_R_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1548},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_R_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1142},{404,184}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,65},{404,184}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_Y_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,640},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_Y_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,250},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_Y_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1142},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_Y_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1624},{404,184}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,184}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_blankSurge_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,532},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{50,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_blankSurge_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,660},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_shut_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2022,304},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_shut_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,120},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_shut_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1142},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_shut_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,120},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>spiral_B_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,76},{28,16}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,120},{28,16}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spiral_B_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,562},{52,32}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,144},{52,32}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>spiral_G_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1548},{34,22}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,105},{34,22}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spiral_G_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,518},{68,42}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,115},{68,42}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>spiral_O_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,470},{60,36}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,93},{60,36}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spiral_O_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{120,72}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,89},{120,72}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>spiral_P_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,106},{16,12}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,111},{16,12}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spiral_P_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1602},{32,20}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,128},{32,20}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>spiral_R_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,468},{80,48}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,116},{80,48}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spiral_R_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,250},{160,94}}</string>
                <key>offset</key>
                <string>{12,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,136},{160,94}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>spiral_Y_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1996,558},{46,28}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,118},{46,28}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spiral_Y_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,412},{90,54}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,141},{90,54}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>spiral_background_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,76},{172,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,77},{172,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spiral_background_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,660},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>toolbox_toolbox_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,412},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{56,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>toolbox_toolbox_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2018,412},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{56,28}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>toolbox_toolbox_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1142},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>toolbox_toolbox_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room1-art.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8826c7ee09cd470824f8f83dbdccd78$</string>
            <key>textureFileName</key>
            <string>room1-art.pvr.ccz</string>
        </dict>
    </dict>
</plist>
