<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_background_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_B_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,966},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_B_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,176},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_B_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,324},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_B_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,324},{404,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,190}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_G_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,992},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_G_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,694},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_G_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,324},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_G_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,836},{404,186}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,65},{404,186}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_O_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,202},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_O_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,652},{52,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_O_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,830},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_O_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,510},{404,182}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,65},{404,182}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_P_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,974},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_P_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,966},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_P_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,694},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_P_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,644},{404,190}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,190}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_R_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,720},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_R_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,974},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_R_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,838},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_R_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,652},{404,184}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,65},{404,184}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_Y_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1000},{52,18}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{52,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_Y_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_Y_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,516},{404,134}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,134}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_Y_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,324},{404,184}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,66},{404,184}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_blankSurge_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,974},{50,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{50,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_blankSurge_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_shut_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{52,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{52,24}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_shut_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,644},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>panel_shut_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>panel_shut_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,644},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>spiral_spiral_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,2},{172,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,77},{172,102}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>spiral_spiral_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{480,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,320}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room1-art.pvr.ccz</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b7dfde165d42b4347ebcac7c9ec9fa5$</string>
            <key>textureFileName</key>
            <string>room1-art.pvr.ccz</string>
        </dict>
    </dict>
</plist>
