<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>spiral</key>
		<dict/>
		<key>panel</key>
		<dict>
			<key>closeUpLayerObject</key>
			<dict>
				<key>R-unplugged</key>
				<dict>
					<key>posX</key>
					<integer>0</integer>
					<key>posY</key>
					<integer>0</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<key>P-plugged</key>
				<dict>
					<key>posX</key>
					<integer>0</integer>
					<key>posY</key>
					<integer>0</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<key>shut</key>
				<dict>
					<key>posX</key>
					<integer>0</integer>
					<key>posY</key>
					<integer>0</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<key>blankSurge</key>
				<dict>
					<key>posX</key>
					<integer>0</integer>
					<key>posY</key>
					<integer>0</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>roomLayerObject</key>
			<dict>
				<key>R-unplugged</key>
				<dict>
					<key>posX</key>
					<integer>0</integer>
					<key>posY</key>
					<integer>0</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<key>P-plugged</key>
				<dict>
					<key>posX</key>
					<integer>0</integer>
					<key>posY</key>
					<integer>0</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<key>shut</key>
				<dict>
					<key>posX</key>
					<integer>0</integer>
					<key>posY</key>
					<integer>0</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<key>blankSurge</key>
				<dict>
					<key>posX</key>
					<integer>0</integer>
					<key>posY</key>
					<integer>0</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
