<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_background_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1280}}</string>
                <key>sourceSize</key>
                <string>{1920,1280}</string>
            </dict>
            <key>panel_B_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,494},{102,34}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{102,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_B_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,152},{102,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{102,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_B_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,3600},{806,268}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,131},{806,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_B_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2308},{806,380}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,132},{806,380}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_G_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,458},{102,34}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{102,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_G_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,102},{102,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{102,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_G_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3578},{806,268}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,131},{806,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_G_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2568},{806,370}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,132},{806,370}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_O_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,422},{102,34}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{102,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_O_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,302},{102,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{102,46}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_O_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,3330},{806,268}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,131},{806,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_O_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2734},{806,362}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,131},{806,362}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_P_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,530},{102,34}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{102,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_P_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,252},{102,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{102,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_P_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3308},{806,268}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,131},{806,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_P_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1926},{806,380}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,132},{806,380}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_R_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,386},{102,34}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{102,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_R_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,52},{102,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{102,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_R_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,3060},{806,268}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,131},{806,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_R_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2940},{806,366}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,131},{806,366}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_Y_plug_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,350},{102,34}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{102,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_Y_plug_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{102,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,39},{102,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_Y_plug_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,1926},{806,268}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,131},{806,268}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_Y_plug_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2690},{806,368}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,131},{806,368}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_blankSurge_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,566},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{100,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_blankSurge_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1284},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_shut_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,202},{102,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{102,48}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_shut_State1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>panel_shut_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>panel_shut_State3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2028,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>spiral_spiral_State0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3848},{342,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,155},{342,202}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>spiral_spiral_State2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room1-art-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73e7707786fe3b4c75cb94c7290661d8$</string>
            <key>textureFileName</key>
            <string>room1-art-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
