<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>background</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>960</integer>
					<key>realHeight</key>
					<integer>640</integer>
					<key>zOrder</key>
					<integer>-1</integer>
					<key>parentsTouchDetector</key>
					<string>0</string>
				</dict>
				<key>State_1</key>
				<string>dummy</string>
			</dict>
		</dict>
		<key>spiral</key>
		<dict>
			<key>background</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>120</integer>
					<key>realPosX</key>
					<integer>440</integer>
					<key>realPosY</key>
					<integer>68</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>100</integer>
					<key>zOrder</key>
					<integer>0</integer>
					<key>interaction</key>
					<string>o</string>
					<key>parentsTouchDetector</key>
					<integer>1</integer>
				</dict>
				<key>State_1</key>
				<string>dummy</string>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>240</integer>
					<key>realPosY</key>
					<integer>160</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>99</integer>
					<key>zOrder</key>
					<integer>0</integer>
					<key>parentsTouchDetector</key>
					<integer>1</integer>
				</dict>
				<key>State_3</key>
				<string>dummy</string>
			</dict>
			<key>R</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>120</integer>
					<key>realPosX</key>
					<integer>440</integer>
					<key>realPosY</key>
					<integer>68</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>100</integer>
					<key>zOrder</key>
					<integer>6</integer>
				</dict>
				<key>State_1</key>
				<string>dummy</string>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>240</integer>
					<key>realPosY</key>
					<integer>160</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>99</integer>
					<key>zOrder</key>
					<integer>6</integer>
				</dict>
				<key>State_3</key>
				<string>dummy</string>
			</dict>
			<key>O</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>120</integer>
					<key>realPosX</key>
					<integer>440</integer>
					<key>realPosY</key>
					<integer>68</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>100</integer>
					<key>zOrder</key>
					<integer>5</integer>
				</dict>
				<key>State_1</key>
				<string>dummy</string>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>240</integer>
					<key>realPosY</key>
					<integer>160</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>99</integer>
					<key>zOrder</key>
					<integer>5</integer>
				</dict>
				<key>State_3</key>
				<string>dummy</string>
			</dict>
			<key>Y</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>120</integer>
					<key>realPosX</key>
					<integer>440</integer>
					<key>realPosY</key>
					<integer>68</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>100</integer>
					<key>zOrder</key>
					<integer>4</integer>
				</dict>
				<key>State_1</key>
				<string>dummy</string>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>240</integer>
					<key>realPosY</key>
					<integer>160</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>99</integer>
					<key>zOrder</key>
					<integer>4</integer>
				</dict>
				<key>State_3</key>
				<string>dummy</string>
			</dict>
			<key>G</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>120</integer>
					<key>realPosX</key>
					<integer>440</integer>
					<key>realPosY</key>
					<integer>68</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>100</integer>
					<key>zOrder</key>
					<integer>3</integer>
				</dict>
				<key>State_1</key>
				<string>dummy</string>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>240</integer>
					<key>realPosY</key>
					<integer>160</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>99</integer>
					<key>zOrder</key>
					<integer>3</integer>
				</dict>
				<key>State_3</key>
				<string>dummy</string>
			</dict>
			<key>B</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>120</integer>
					<key>realPosX</key>
					<integer>440</integer>
					<key>realPosY</key>
					<integer>68</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>100</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_1</key>
				<string>dummy</string>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>240</integer>
					<key>realPosY</key>
					<integer>160</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>99</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_3</key>
				<string>dummy</string>
			</dict>
			<key>P</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>120</integer>
					<key>realPosX</key>
					<integer>440</integer>
					<key>realPosY</key>
					<integer>68</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>100</integer>
					<key>zOrder</key>
					<integer>2</integer>
					<key>collectable</key>
					<string>0</string>
				</dict>
				<key>State_1</key>
				<string>dummy</string>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>220</integer>
					<key>realPosY</key>
					<integer>172</integer>
					<key>realWidth</key>
					<integer>30</integer>
					<key>realHeight</key>
					<integer>23</integer>
					<key>zOrder</key>
					<integer>2</integer>
					<key>collectable</key>
					<string>0</string>
					<key>interaction</key>
					<string>0</string>
				</dict>
				<key>State_3</key>
				<string>dummy</string>
			</dict>
		</dict>
		<key>panel</key>
		<dict>
			<key>blankSurge</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<key>State_1</key>
				<string>dummy</string>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<key>State_3</key>
				<string>dummy</string>
			</dict>
			<key>shut</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>498</integer>
					<key>realPosY</key>
					<integer>-20</integer>
					<key>realWidth</key>
					<integer>50</integer>
					<key>realHeight</key>
					<integer>25</integer>
					<key>zOrder</key>
					<integer>4</integer>
					<key>interaction</key>
					<integer>1</integer>
					<key>parentsTouchDetector</key>
					<string>0</string>
				</dict>
				<key>State_1</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>498</integer>
					<key>realPosY</key>
					<integer>-20</integer>
					<key>realWidth</key>
					<integer>50</integer>
					<key>realHeight</key>
					<integer>25</integer>
					<key>zOrder</key>
					<integer>4</integer>
					<key>parentsTouchDetector</key>
					<string>0</string>
				</dict>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>40</integer>
					<key>realPosY</key>
					<integer>65</integer>
					<key>realWidth</key>
					<integer>395</integer>
					<key>realHeight</key>
					<integer>181</integer>
					<key>zOrder</key>
					<integer>4</integer>
					<key>interaction</key>
					<integer>1</integer>
					<key>parentsTouchDetector</key>
					<string>0</string>
					<key>activator</key>
					<string>0</string>
				</dict>
				<key>State_3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>240</integer>
					<key>realPosY</key>
					<integer>160</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>4</integer>
					<key>parentsTouchDetector</key>
					<string>0</string>
				</dict>
			</dict>
			<key>R_plug</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_1</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>260</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>State_3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>262</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>linkedObject</key>
				<string>spiral_R</string>
			</dict>
			<key>O_plug</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_1</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>174</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>State_3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>176</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>linkedObject</key>
				<string>spiral_O</string>
			</dict>
			<key>Y_plug</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_1</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>346</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>State_3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>348</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>linkedObject</key>
				<string>spiral_Y</string>
			</dict>
			<key>G_plug</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_1</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>217</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>State_3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>219</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>linkedObject</key>
				<string>spiral_G</string>
			</dict>
			<key>B_plug</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_1</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>131</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>State_3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>133</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>linkedObject</key>
				<string>spiral_B</string>
			</dict>
			<key>P_plug</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_1</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>303</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>State_3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>305</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>linkedObject</key>
				<string>spiral_P</string>
			</dict>
		</dict>
		<key>toolbox</key>
		<dict>
			<key>toolbox</key>
			<dict>
				<key>State_0</key>
				<dict>
					<key>posX</key>
					<integer>-36</integer>
					<key>posY</key>
					<integer>77</integer>
					<key>realPosX</key>
					<integer>-62</integer>
					<key>realPosY</key>
					<integer>62</integer>
					<key>realWidth</key>
					<integer>57</integer>
					<key>realHeight</key>
					<integer>26</integer>
					<key>zOrder</key>
					<integer>0</integer>
					<key>interaction</key>
					<string>0</string>
					<key>parentsTouchDetector</key>
					<integer>1</integer>
				</dict>
				<key>State_1</key>
				<dict>
					<key>posX</key>
					<integer>-36</integer>
					<key>posY</key>
					<integer>77</integer>
					<key>realPosX</key>
					<integer>-62</integer>
					<key>realPosY</key>
					<integer>62</integer>
					<key>realWidth</key>
					<integer>57</integer>
					<key>realHeight</key>
					<integer>26</integer>
					<key>zOrder</key>
					<integer>0</integer>
					<key>interaction</key>
					<string>0</string>
					<key>parentsTouchDetector</key>
					<integer>1</integer>
				</dict>
				<key>State_2</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>44</integer>
					<key>realPosY</key>
					<integer>66</integer>
					<key>realWidth</key>
					<integer>400</integer>
					<key>realHeight</key>
					<integer>181</integer>
					<key>zOrder</key>
					<integer>0</integer>
					<key>interaction</key>
					<string>0</string>
				</dict>
				<key>State_3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>44</integer>
					<key>realPosY</key>
					<integer>66</integer>
					<key>realWidth</key>
					<integer>400</integer>
					<key>realHeight</key>
					<integer>281</integer>
					<key>zOrder</key>
					<integer>0</integer>
					<key>interaction</key>
					<string>0</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
