<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<dict>
		<key>background</key>
		<dict>
			<key>background</key>
			<dict>
				<key>Item_0</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>960</integer>
					<key>realHeight</key>
					<integer>640</integer>
					<key>zOrder</key>
					<integer>-1</integer>
				</dict>
				<key>Item_1</key>
				<string>dummy</string>
			</dict>
		</dict>
		<key>panel</key>
		<dict>
			<key>blankSurge</key>
			<dict>
				<key>New item</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<key>New item - 2</key>
				<string>dummy</string>
				<key>New item - 3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>0</integer>
				</dict>
				<key>New item - 4</key>
				<string>dummy</string>
			</dict>
			<key>shut</key>
			<dict>
				<key>New item</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>498</integer>
					<key>realPosY</key>
					<integer>-20</integer>
					<key>realWidth</key>
					<integer>50</integer>
					<key>realHeight</key>
					<integer>25</integer>
					<key>zOrder</key>
					<integer>4</integer>
					<key>interaction</key>
					<integer>1</integer>
					<key>parentsTouchDetector</key>
					<string>0</string>
				</dict>
				<key>New item - 2</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>498</integer>
					<key>realPosY</key>
					<integer>-20</integer>
					<key>realWidth</key>
					<integer>50</integer>
					<key>realHeight</key>
					<integer>25</integer>
					<key>zOrder</key>
					<integer>4</integer>
					<key>parentsTouchDetector</key>
					<string>0</string>
				</dict>
				<key>New item - 3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>40</integer>
					<key>realPosY</key>
					<integer>65</integer>
					<key>realWidth</key>
					<integer>395</integer>
					<key>realHeight</key>
					<integer>181</integer>
					<key>zOrder</key>
					<integer>4</integer>
					<key>interaction</key>
					<integer>1</integer>
					<key>parentsTouchDetector</key>
					<string>0</string>
				</dict>
				<key>New item - 4</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>240</integer>
					<key>realPosY</key>
					<integer>160</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>4</integer>
					<key>parentsTouchDetector</key>
					<string>0</string>
				</dict>
			</dict>
			<key>R_plug</key>
			<dict>
				<key>New item</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 2</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>260</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>New item - 4</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>262</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>O_plug</key>
			<dict>
				<key>New item</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 2</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>174</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>New item - 4</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>176</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>Y_plug</key>
			<dict>
				<key>New item</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 2</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>346</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>New item - 4</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>348</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>G_plug</key>
			<dict>
				<key>New item</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 2</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>217</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>New item - 4</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>219</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>B_plug</key>
			<dict>
				<key>New item</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 2</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>131</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>New item - 4</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>133</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>P_plug</key>
			<dict>
				<key>New item</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 2</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>-5</integer>
					<key>realPosX</key>
					<integer>0</integer>
					<key>realPosY</key>
					<integer>0</integer>
					<key>realWidth</key>
					<integer>0</integer>
					<key>realHeight</key>
					<integer>0</integer>
					<key>zOrder</key>
					<integer>1</integer>
				</dict>
				<key>New item - 3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>303</integer>
					<key>realPosY</key>
					<integer>124</integer>
					<key>realWidth</key>
					<integer>21</integer>
					<key>realHeight</key>
					<integer>89</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
				<key>New item - 4</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>305</integer>
					<key>realPosY</key>
					<integer>69</integer>
					<key>realWidth</key>
					<integer>24</integer>
					<key>realHeight</key>
					<integer>144</integer>
					<key>zOrder</key>
					<integer>1</integer>
					<key>interaction</key>
					<integer>1</integer>
				</dict>
			</dict>
		</dict>
		<key>spiral</key>
		<dict>
			<key>spiral</key>
			<dict>
				<key>New item</key>
				<dict>
					<key>posX</key>
					<integer>520</integer>
					<key>posY</key>
					<integer>120</integer>
					<key>realPosX</key>
					<integer>440</integer>
					<key>realPosY</key>
					<integer>68</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>100</integer>
					<key>zOrder</key>
					<integer>0</integer>
					<key>parentsTouchDetector</key>
					<integer>1</integer>
				</dict>
				<key>New item - 2</key>
				<string>dummy</string>
				<key>New item - 3</key>
				<dict>
					<key>posX</key>
					<integer>240</integer>
					<key>posY</key>
					<integer>160</integer>
					<key>realPosX</key>
					<integer>240</integer>
					<key>realPosY</key>
					<integer>160</integer>
					<key>realWidth</key>
					<integer>166</integer>
					<key>realHeight</key>
					<integer>99</integer>
					<key>zOrder</key>
					<integer>0</integer>
					<key>parentsTouchDetector</key>
					<integer>1</integer>
				</dict>
				<key>New item - 4</key>
				<string>dummy</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
